.resume {
		display: flex;
		align-items: center;
		width:100%;
		margin: 20px;
	}
.left-column {
		flex:1;
	}
img {
		max-width: 30%;
		height: auto;
	}
.right-column {
		flex: 2;
		padding: 20px;
	}
hr {
		height: 5px;
		color: black;
		border-width: 1px;
		background-color: black;
	}
p {
		font-family: serif;
		font-size: 15px;
	}
h2 {
		font-size: 24px;
		margin:0;
	}